@import "../../theme/scss/theme/variables.scss";

.welcomeBg {
  background-image: url(./img/top-left.png), url(./img/top-right.png),
}

.rewardListItem {
  width: 112px;
  height: 80px;
  background-color: $primary;
  img {
    width: 60%;
  }
}
