.ringCard {
  background: linear-gradient(315deg, #fe3876, #7c30dd 71%, #3a30dd);
  min-height: 260px;
}

.ktonCard {
  // background: linear-gradient(90deg, #44cc6e, #008f3f);
  background: linear-gradient(315deg, #fe3876, #7c30dd 71%, #3a30dd);
  min-height: 260px;
}
