.join-our-crowdloan-link {
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  border-radius: 10px;
  height: 40px;
  width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
  }

  > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  @media screen and (max-width: 1024px) {
    width: 48%;
  }
}

.footer-allright {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #555555;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: {
    top: 20px;
    bottom: 40px;
  }
}

.wrapper {
  position: relative;
  background: linear-gradient(
    315.52deg,
    rgba(255, 0, 80, 0.1) 0.88%,
    rgba(112, 0, 255, 0.1) 71.7%,
    rgba(0, 39, 255, 0.1) 100%
  );

  & > img {
    width: 100%;
    height: 764px;
    position: absolute;
    top: 200px;
    left: 0;
    opacity: .8;
  }

  padding: 40px 0 10px 0;

  @media screen and (max-width: 1024px) {
    padding: 0;
    background: none;
  }
}
