@import "../../../theme/scss/project-var";

.wrapper {
  background: linear-gradient(
    315.52deg,
    rgba(255, 0, 80, 0.1) 0.88%,
    rgba(112, 0, 255, 0.1) 71.7%,
    rgba(0, 39, 255, 0.1) 100%
  );
  padding: 40px 0 97px 0;

  @media screen and (max-width: 1024px) {
    padding: 0;
    background: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 60px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 40px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1e3676;

  @include main-border();

  @media screen and (max-width: 1024px) {
    background: none;
    backdrop-filter: none;
    box-shadow: none;
    padding: 0;
    margin-top: 60px;
    border: none;
  }
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #1e3676;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }

  .item-icon {
    height: 86px;
  }

  .item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1e3676;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    color: #1e3676;
  }

  .item-desc {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    /* text */

    color: #1e3676;
  }

  @media screen and (max-width: 1024px) {
    align-items: center;
    margin-left: 0;
  }
}
