
$main: #ec3783;
$accent: #5745de;

@mixin main-border {
  border: 2px solid transparent;
  border-radius: 40px;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to right, $main, $accent) border-box;
}
